{% extends 'base.html' %}
{% load static widget_tweaks %}



{% block content %}
<div style="height: 60px; background-color: #525659;">
</div>


<section class='u-content-space'>
  <div class="container">

    {% if msgs_sent > 0 %}
      <header class="text-center w-md-50 mx-auto mb-4 ">
        <h1>Message sent successfully!</h1>
      </header>
    {% else %}
      <header class="text-center w-md-50 mx-auto mb-4 ">
        <h1>Send me a message!</h1>
      </header>
    {% endif %}
    
    <div class='row justify-content-center'>
      <div class="col-lg-6">
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <button type="submit" class="btn btn-success">Send!</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class='u-content-space bg-light-grey'>
  <div class="container">
    <header class="text-center w-md-50 mx-auto mb-4 ">
      <h2 class="h1">Or....</h2>
    </header>
    
    <div class="row text-center navy">
      <div class="col">
        <p class="h5"><i class="fas fa-envelope mr-2"></i> cj.storrs@gmail.com</p>
      </div>
    </div>
    <div class="row text-center navy">
      <div class="col">
        <a href="https://www.linkedin.com/in/christopher-storrs-6003bb111">
          <p class="h5 navy"><i class="fab fa-linkedin mr-3"></i> LinkedIn</p>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}