{% extends 'base.html' %}

{% block content %}
<div style="height: 60px; background-color: #525659;">
</div>

<section class='u-content-space bg-light-grey'>
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <h1>Message sent sucessfully!</h1>
        <h3>Thank you for reaching out! I will be in touch soon.</h3>
      </div>
    </div>
    <div class="row text-center text-primary">
      <div class="col">
        <a href="mailto:cj.storrs@gmail.com">
          <p class="h5 text-primary"><i class="fas fa-envelope mr-2"></i> cj.storrs@gmail.com</p>
        </a>
      </div>
    </div>
    <div class="row text-center">
      <div class="col">
        <a class="text-primary" href="https://www.linkedin.com/in/cjstorrs">
          <h5><i class="fab fa-linkedin mr-3"></i> LinkedIn</p>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}