{% extends 'base.html' %}
{% load widget_tweaks static %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/simplemde.min.css' %}">
{% endblock stylesheet %}

{% block content %}
<div style="height: 60px; background-color: #525659;">
</div>

<div class="container mt-8 mb-8">
  <div class="row justify-content-center">
    <div class="col-lg-6 ">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <!-- Multi Image -->
          {{ formset.management_form }}
          {% for form in formset %}
            {{ form }}
          {% endfor %}
        <button type="submit" class="btn btn-success">Post</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<!-- for markdown editor -->
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script>
  // add markdown editor to first textarea, forceSync needs to be on for submit button to work.
  var simplemde = new SimpleMDE({forceSync: true});
</script>
{% endblock js %}