{% extends 'base.html' %}
{% load static %}

{% block mainimg %}
<section class="u-promo-block u-promo-block--mheight-600 text-white bg-cool" >
  <div class="container u-overlay__inner u-ver-center u-content-space">
    <div class="row justify-content-center">

      <div class="col-lrg-1 u-overlay mt-9">
        <div class="text-center u-overlay-dark-name m-1">
          <h1 class="pl-4 pr-4" style="font-size: 64px;">CJ Storrs</h1>
          <p class="h6 text-uppercase u-letter-spacing-sm mb-2"><span id='typed_desc'></span><span class='text-primary font-weight-bold' id='typed_desc_scroll'></span></p>
          
          <!-- linked in icon -->
          <ul class="list-inline text-center mb-0">
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Linkedin">
              <a class="text-white" href="https://www.linkedin.com/in/cjstorrs">
                <i class="fab fa-linkedin"></i>
              </a>
            </li>
          <!-- github icon -->
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="github">
              <a class="text-white" href="https://github.com/mrStorrs">
                <i class="fab fa-github"></i>
              </a>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </div>
</section>
{% endblock mainimg %}

{% block content %}
  <!-- Skills/Experience -->
  <section class="u-content-space bg-dark-grey">
      <div class="container">
        <div class="row text-center">

        <!-- skills Coloumn -->
          <div class="col-lg-4 mb-5 mb-lg-0">

            <header>
              <div class="display-4 mb-2">
                <i class="fas fa-align-justify text-primary"></i>
              </div>
              <h5 class="mb-4">Technical Skills</h5>
            </header>
  
            <div class="container shadow p-3 ">

              <div class="row text-center">
                <div class="col">
                  <p>Java <i class="fab fa-java"></i></p>
                </div>
                <div class="col">
                  <p>JavaScript <i class="fab fa-js-square"></i></p>
                </div>
              </div>

              <div class="row text-center">
                <div class="col">
                  <p>Python <i class="fab fa-python"></i></p>
                </div>
                <div class="col">
                  <p>Full-Stack <span class="iconify icon:mdi:web"></span></iconify-icon> Dev </p>
                </div>
              </div>
              
              <div class="row text-center">
                <div class="col">
                  <p>Django <span class="iconify icon:cib:django"></p>
                </div>
                <div class="col">
                  <p>HTML <i class="fab fa-html5"></i></p>
                </div>
              </div>
    
              <div class="row text-center">
                <div class="col">
                  <p>CSS <i class="fab fa-css3"></i></p>
                </div>
                <div class="col">
                  <p>BootStrap <i class="fab fa-bootstrap"></i></p>
                </div>
              </div>
              

            </div>
          </div>
  
          <!-- Experience Column -->
          <div class="col-lg-4 mb-5 mb-lg-0 text-center">
            <header>
              <div class="display-4 mb-2">
                <i class="fas fa-keyboard text-primary"></i>
              </div>
              <h5 class="mb-4">Objective</h5>
            </header>
            <div class="row shadow  ml-1 mr-1 pt-2">
              <p class="p-2">
                Find a career that fuels my passion for technology. I want to
                be employed at a company that <strong>challenges</strong> their employees,
                pushes them to grow, and cares for them and their clients alike.
                What I lack in experience, I make up for in <strong>passion</strong>, <strong>enthusiasm</strong>,
                and <strong>willingness to learn</strong>.
              </p>
            </div>
          </div>  
  
          <!-- Education Column -->
          <div class="col-lg-4 mb-5 mb-lg-0">
            <div class="display-4 mb-2">
              <i class="fas fa-book-open text-primary"></i>
            </div>
            <h5 class="mb-4">Education</h5>
            <div class="container text-center shadow">
  
              <div class="row">
                <div class="col pt-2">
                  <h5>Coding Dojo</h5>
                  <p class="text-primary">Python Full-Stack Web Dev.
                    <br>2019
                  </p>
                </div>
              </div>
  
              <div class="row">
                <div class="col">
                  <h5>University of the People</h5>
                  <p class='text-primary'>Bachelors in Computer Sciences
                    <br>Graduation 2022
                  </p>
                </div>
              </div>
  
            </div>
          </div>
        </div>
  
          <!-- Resume Link -->
        <div class="row text-center">
          <div class='col'>
            <p>
              For more info; 
              <a class="text-primary font-weight-bold" href="{% url 'aboutme' %}">
                About me
              </a>
              or 
              <a class="text-primary font-weight-bold" href="{% url 'resume' %}">
                Resume
              </a>
            </p>
          </div>
        </div>
  
      </div>
    </section>

  <!-- projects -->
  <section class="bg-light-grey u-content-space">
    <div class="container">
      <header class="text-center w-md-50 mx-auto mb-4">
        <h1>Projects</h1>
      </header>
      <div class="row justify-content-center">

        <!-- This website..... -->
        <div class="col-lg-8 mb-5">
          <a href="{% url 'projects' %}">
            <figure>
              <img class="w-100 rounded-top" src="{% static 'img/web_snip.png' %}" alt="Image Description">
              <div class="u-box-shadow-sm bg-white text-center rounded p-4">
                <div class="mb-3">
                  <h5 class="mb-1">This Website</h5>
                  <medium class="d-block font-style-normal text-primary u-letter-spacing-xs">
                    Built from the gound up using; Django, Python, CSS, HTML, and more. This website is an 
                    excellent representation of my knowledge in full-stack web development. Click me for more
                    details.
                  </medium>
                </div>
              </div>
            </figure>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!-- contact section -->
  <section class='u-content-space bg-dark-grey'>
      <div class="container">
        <header class="text-center w-md-50 mx-auto mb-4 ">
          <h2 class="h1">Contact</h2>
        </header>
        <!-- email -->
        <div class="row text-center text-primary">
          <div class="col">
            <a href="mailto:cj.storrs@gmail.com">
              <p class="h5 text-primary"><i class="fas fa-envelope mr-2"></i> cj.storrs@gmail.com</p>
            </a>
          </div>
        </div>
        <!-- linkedin -->
        <div class="row text-center text-primary">
          <div class="col">
            <a href="https://www.linkedin.com/in/cjstorrs">
              <p class="h5 text-primary"><i class="fab fa-linkedin mr-3"></i> LinkedIn</p>
            </a>
          </div>
        </div>
      </div>
  </section>
{% endblock content %}

{% block js %}
  <!-- typed.js used for typed animation in heading -->
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
  <script>
    $('document').ready(function(){

        var typed_desc = new Typed('#typed_desc',{
          strings: ['Tech'],
          backSpeed: 0,
          typeSpeed: 100,
          startDelay: 800,
          showCursor: false

        });

        var typed_desc = new Typed('#typed_desc_scroll',{
          strings: ['Enthusiast', 'developer', 'programmer', 'designer'],
          backSpeed: 0,
          typeSpeed: 100,
          startDelay: 1200,

          loop: true,
        });
      });
  </script>
{% endblock js %}