{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheet %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/simplemde.min.css' %}">
{% endblock stylesheet %}

{% block content %}
<!-- grey space at top of website for navbar. -->
<div style="height: 60px; background-color: #525659;">
</div>
  <!-- loop through and create a section for each project -->
  {% for project in projects %}
    <!-- first if is to check which color the background should be -->
    {% if project.color == 'white' %}
      <section class="bt-light-grey u-content-space ">
    {% else %}
      <section class="bg-dark-grey u-content-space shadow-sm">
    {% endif %}

        <div class="container">
          <div class = 'row'>
            <!-- title and description -->
            <div class='col-lg-5'>
            <header class="text-left w-md-5 mx-auto mb-1">
              <h2 class="h1">{{project.get_title_as_markdown}}</h2>
            </header>
              <p>{{project.get_description_as_markdown}}</p>
            </div>

            <!-- technical skills used -->
            <div class='col-lg-2 shadow text-center pt-3 pb-3' style="background-color: white;">
              <header>
                <h3>Tech Used</h3>
              </header>
              <div class="mt-4">
                {{project.display_skills}}
              </div>
            </div>
            
            <!-- images project column-->
            <div class='col-lg-5 align-self-center pt-3'>
              <!-- id is set to change per pk of current project. This will match the href of 
              controls. This will allow us to have multiple carousels with controls. -->
              <div id="carousel-{{project.pk}}" class="carousel slide" data-interval="false">
                  <div class="carousel-inner" data-toggle="modal" data-target="#modal_1">
                    {% for image in project.get_images %}
                      {% if forloop.first %} <!-- the first element of bootraps carosel must be active-->
                        <div class="carousel-item active">
                      {% else %}
                        <div class="carousel-item">
                      {% endif %}
                          <img class="d-block" src="{{ image.image.url }}" onclick="carousel_reset()" style="width: 100%; float: left; margin-right: 10px;">
                        </div>
                    {% endfor %} 
                  </div>
                  <!-- controls also change the position of the modal carosel throuhgh the onclick funcitons. -->
                  <a class="carousel-control-prev" href="#carousel-{{project.pk}}" onclick="carousel_prev()" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carousel-{{project.pk}}" onclick="carousel_next()" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="false"></span>
                    <span class="sr-only">Next</span>
                  </a>
              </div>
            </div>

            <!-- modal images carousel -->
            <div class="modal fade" id="modal_1" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered d-inline" role="document">
                <div class="modal-content col-lg-12">
                  <div class="modal-body">
                    <!-- dynamic 2nd carousel id -->
                    <div id="carousel2-{{project.pk}}" class="carousel slide" data-interval="false">
                      <div class="carousel-inner" data-toggle="modal" data-target="#modal_1">
                        {% for image in project.get_images %}
                          {% if forloop.first %} <!-- the first element of bootraps carosel must be active-->
                            <div class="carousel-item active">
                          {% else %}
                            <div class="carousel-item">
                          {% endif %}
                              <img class="d-block" src="{{ image.image.url }}" onclick="" style="width:100%">
                            </div>
                        {% endfor %} 
                      </div>
                      <a class="carousel-control-prev" href="#carousel2-{{project.pk}}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carousel2-{{project.pk}}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    </div>
                  </div>
               <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
        <!-- edit/delete buttons only to be shown if logged in as superuser -->
        {% if user.is_superuser %}
          <a href="{% url 'edit_project' project.pk %}" class=btn>Edit</a>
          <a href="{% url 'delete_project' project.pk %}" class=btn>Delete</a>
        {% endif %}
      </section>
  {% endfor %}

  <!-- if superuser, show add new form -->
  {% if user.is_superuser %}
    <div class="container mt-8 mb-8">
      <div class="row justify-content-center">
        <div class="col-lg-6 ">
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <!-- Multi Image -->
              {{ formset.management_form }}
              {% for form in formset %}
                {{ form.as_p }}
              {% endfor %}
            <button type="submit" class="btn btn-success">Post</button>
          </form>
        </div>
    
      </div>
    </div>
  {% endif %}
{% endblock content %}

{% block js %}
  <!-- for markdown editor -->
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script>
    // add markdown editor, forceSync needs to be on for submit button to work.
    var simplemde = new SimpleMDE({forceSync: true});


    // the below functions will ensure that when the prev or next button is clicked
    // on the non-modal images that it resets the starting slide of the modal image
    // to the one that the non-modal is on. This is so whatever image is displayed on the 
    // webpage will be the one that pops up first in the modal
    var slides = [0,1,2] // Each project only allows 3 Images
    function carousel_prev() {    //shift values to the right when prev btn clicked
      slides.unshift(slides[2]); 
      slides.pop();
    }
    function carousel_next() {    //shift values to left when next btn clicked
      slides.push(slides[0])
      slides.shift();
    }
    function carousel_reset(){
      $('.carousel').carousel(slides[0]);   //reset clicked carousel to correct slide
    }
  </script>
{% endblock js %}