{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="height: 60px; background-color: #525659;">

</div>
<!-- embeded pdf -->
<section class="text-center">
  <iframe src="https://drive.google.com/file/d/1DWOXmyGhkj13RE-l6eXf8aYI9a8E97YW/preview" width=100% height=950px></iframe>
</section>

<!-- downloadable versions -->
<section class="u-content-space">
  <div class='container'>
    
    <div class="row text-center display-4">
      
      <!-- .pdf version -->
      <div class='col-lg-6 mb-5'>
          <a class="" href="{% static 'img/resume/CJ_Storrs_Resume.pdf' %}" download>
            <i class=" fas fa-file-pdf navy"></i>
            <h5 >PDF</h5>
          </a>  
      </div>

    <!-- .docx version -->
      <div class='col-lg-6'>
        <a class='' href="{% static 'img/resume/CJ_Storrs_Resume.docx' %}" download>
          <i class="fas fa-file-pdf navy"></i>
          <h5>DOCX</h5>
        </a>  
      </div>

    </div>
  </div>
</section>
{% endblock content %}

{% block js %}
  <script src="{% static 'js/pdf.js' %}"></script>

{% endblock js %}