{% extends 'base.html' %}
{% load static %}


{% block content %}
<div style="height: 60px; background-color: #525659;">

</div>
<!-- google docs view of pdf. -->
<section class="text-center " >
  <div class="row justify-content-center">
    <div class="col-lg-8 embed-responsive embed-responsive-1by1" style="min-height:600px;">
      <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/11vubErOfvOldDXuGIgL1Pur0EmBJ7svX/preview" ></iframe>
    </div>
  </div>
</section>

<!-- downloadable versions -->
<section class="u-content-space">
  <div class='container'>
    <div class="row text-center display-4">
      
      <!-- .pdf version -->
      <div class='col-lg-6 mb-5'>
          <a class="text-primary" href="{% static 'img/resume/CJ_Storrs_Resume.pdf' %}" download>
            <i class="fas fa-file-pdf"></i>
            <h5 >PDF</h5>
          </a>  
      </div>

    <!-- .docx version -->
      <div class='col-lg-6'>
        <a class='text-primary' href="{% static 'img/resume/CJ_Storrs_Resume.docx' %}" download>
          <i class="fas fa-file-pdf"></i>
          <h5>DOCX</h5>
        </a>  
      </div>

    </div>
  </div>
</section>
{% endblock content %}
